#most_selled{
    display: flex;
    align-items: center;
    flex-direction: column;

        .contact_bx{
            display: flex;
            flex-direction: column;
            align-items: center;
            gap: 30px;
            margin: 150px 0;
            background-color: $color4;
            @include shadow(10px 10px 22px -6px rgba(0,0,0,0.75));
            width: 70%;
            padding: 20px;
                h3{
                    color: $color5;
                    font-size: 28px;
                    font-weight: 600;
                }
                button{
                    background-color: $color2;
                }
        }
        .most_selled_bx{
            text-align: center;
                h3 {
                    margin-bottom: 50px;
                    font-size: 30px;
                    font-weight: 600;
                    background-color: $color4;
                    padding: 12px;
                    color: $color5;
                }
                div{
                    display: flex;
                    gap: 30px;

                    @media (max-width:1199px){
                            flex-wrap: wrap;
                            justify-content: center;
                    }
                }
                img{
                    width: 400px;
                    height: 400px;
                    @include shadow(10px 10px 22px -6px rgba(0,0,0,0.75));
                }
        }
}